In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, Column, Integer, String, Float
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [8]:
# Import the data into a Pandas DataFrame
gdp_df = pd.read_csv("Resources/csv/gdp_growth.csv")
gdp_df.head()

  country              indicator   percent  year
0   Kenya  GDP growth (annual %)  6.319781  2018
1   Kenya  GDP growth (annual %)  4.862538  2017
2   Kenya  GDP growth (annual %)  5.878949  2016
3   Kenya  GDP growth (annual %)  5.718507  2015
4   Kenya  GDP growth (annual %)  5.357126  2014

In [10]:
tech_df = pd.read_csv("Resources/csv/tech_exports.csv")
tech_df.head()

  country                                          indicator   percent  year
0   Kenya  High-technology exports (% of manufactured exp...  3.154125  2017
1   Kenya  High-technology exports (% of manufactured exp...  3.758604  2013
2   Kenya  High-technology exports (% of manufactured exp...  5.699216  2010
3   Kenya  High-technology exports (% of manufactured exp...  5.310636  2009
4   Kenya  High-technology exports (% of manufactured exp...  4.150340  2008

In [11]:
life_df = pd.read_csv("Resources/csv/life_expectancy.csv")
life_df.head()

  country                                indicator     age  year
0   Kenya  Life expectancy at birth, total (years)  67.291  2017
1   Kenya  Life expectancy at birth, total (years)  67.032  2016
2   Kenya  Life expectancy at birth, total (years)  66.695  2015
3   Kenya  Life expectancy at birth, total (years)  66.242  2014
4   Kenya  Life expectancy at birth, total (years)  65.651  2013

In [12]:
engine = create_engine(f'sqlite:///indicators_project.sqlite')

In [13]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [14]:
class GDPGrowth(Base):
    __tablename__ = 'GDPGrowth'
    id = Column(Integer, primary_key=True)
    country = Column(String(255))
    indicator = Column(String(255))
    percent = Column(Integer)
    year = Column(Integer)

In [15]:
class TechExports(Base):
    __tablename__ = 'TechExports'
    id = Column(Integer, primary_key=True)
    country = Column(String(255))
    indicator = Column(String(255))
    percent = Column(Integer)
    year = Column(Integer)

In [16]:
class LifeExpectancy(Base):
    __tablename__ = 'LifeExpectancy'
    id = Column(Integer, primary_key=True)
    country = Column(String(255))
    indicator = Column(String(255))
    age = Column(Integer)
    year = Column(Integer)

In [17]:
conn = engine.connect()
Base.metadata.create_all(conn)

In [18]:
for index, item in gdp_df.iterrows():
    gdp = GDPGrowth(
        country=item['country'],
        indicator=item['indicator'],
        percent=item['percent'],
        year=item['year'],
    )
    session.add(gdp)
    session.commit()

In [19]:
for index, item in tech_df.iterrows():
    tech = TechExports(
        country=item['country'],
        indicator=item['indicator'],
        percent=item['percent'],
        year=item['year'],
    )
    session.add(tech)
    session.commit()

In [20]:
for index, item in life_df.iterrows():
    life = LifeExpectancy(
        country=item['country'],
        indicator=item['indicator'],
        age=item['age'],
        year=item['year'],
    )
    session.add(life)
    session.commit()