In [28]:
# Dependencies and Setup
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#import time
import json
import requests
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
pymysql.install_as_MySQLdb()

In [29]:
# Build query Url
# Create and initialize list 
# Setup dictionary to convert to df
country = []
indicator = []
year = []
percent = []

response = requests.get("http://api.worldbank.org/v2/country/ken/indicator/NY.GDP.MKTP.KD.ZG?format=json")
data = response.json()
data[1]
for item in data[1]:
    indicator.append(item['indicator']['value'])
    country.append(item['country']['value'])
    year.append(item['date'])
    percent.append(item['value'])

# Save json data for each API call
with open(f'Resources/data/output_api_ken_indicator1.json', 'w') as outfile:
    json.dump({'country':country, 'indicator':indicator, 'year':year, 'percent':percent}, outfile)

In [30]:
df_ken = pd.read_json("Resources/data/output_api_ken_indicator1.json")

In [31]:
df_ken.head()

  country              indicator   percent  year
0   Kenya  GDP growth (annual %)       NaN  2018
1   Kenya  GDP growth (annual %)  4.873937  2017
2   Kenya  GDP growth (annual %)  5.869198  2016
3   Kenya  GDP growth (annual %)  5.718489  2015
4   Kenya  GDP growth (annual %)  5.357132  2014

In [36]:
engine = create_engine('mysql://root:root123@127.0.0.1:3306/growth_db')

In [37]:
df_ken.to_sql(name='ken_Growth', con=engine, if_exists = 'append', index=False)

C:\Users\flori\Anaconda3\lib\site-packages\pandas\io\sql.py:1165: UserWarning: The provided table name 'ken_Growth' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [38]:
pd.read_sql_query('select * from KEN_Growth', con=engine).head()

  country              indicator   percent  year
0   Kenya  GDP growth (annual %)       NaN  2018
1   Kenya  GDP growth (annual %)  4.873937  2017
2   Kenya  GDP growth (annual %)  5.869198  2016
3   Kenya  GDP growth (annual %)  5.718489  2015
4   Kenya  GDP growth (annual %)  5.357132  2014

In [41]:
# Finally putting transformed dataframe to csv file
df_ken.to_csv('Resources/csv/KEN_Growth.csv',index = True, header = True)